body {
    background-color: black;

    color: white;
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1303/Mercedes_Benz_Logo-Brand_advertising_HD_wallpaper_1366x768.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.fotoinicio {
    height: 100px;
    display: flex;
    justify-content: right;
    
}

img {
    height: auto;
    width: auto;
}

nav {
    text-align: center;
}

.Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: 2px solid #C0C0C0;
    border-right: 2px solid #C0C0C0;
    border-bottom: 2px solid #C0C0C0;
}

.Menu li {
    display: inline-block;
    margin-right: 20px;
}

.uno {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fondoU {
    color: white;
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1303/Mercedes_Benz_Logo-Brand_advertising_HD_wallpaper_1366x768.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.Nuestros {
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1303/Mercedes_Benz_Logo-Brand_advertising_HD_wallpaper_1366x768.jpg);
    background-size: auto;
    color: white;
    background-repeat: no-repeat;

}